/* This is the last CSS loaded - you can destroy incoming formatting! */

/* Replace the icon near the title. */ 
/* Fix line spacing of headers. */
/* CC-1424 Allow wrapping of extremely long words. NB: did test with
   overflow-wrap, but it didn't work (Firefox Mac 41: why?), so used the
   old-style word-wrap instead. */
header h1 {
    background: url("../images/molecule.png") no-repeat scroll 0 0 transparent;
    line-height: 1em;
    word-wrap: break-word;
}

/* ANDS RVA Banner. */
nav.site {
    background: url("../images/ands-sissvoc-banner.png") no-repeat 0% 0%;
    padding-top: 54px;
}

/* Indent any more info link in the header. */
header p {
    font-family: "Gill Sans", Arial, sans-serif;
    font-size: 130%;
    margin-left: 110px;
    padding-bottom: 10px;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.pull-right {
    float: right !important;
}