/* This is the last CSS loaded - you can destroy incoming formatting! */

/* Replace the icon near the title. */ 
/* Fix line spacing of headers. */ 
header h1 {
    background: url("../images/molecule.png") no-repeat scroll 0 0 transparent;
    line-height: 1em;
}

/* ANDS RVA Banner. */
nav.site {
    background: url("../images/ands-sissvoc-banner.png") no-repeat 0% 0%;
    padding-top: 54px;
}

/* Indent any more info link in the header. */
header p {
    font-family: "Gill Sans", Arial, sans-serif;
    font-size: 130%;
    margin-left: 110px;
    padding-bottom: 10px;
}
