/* This is the last CSS loaded - you can destroy incoming formatting! */

/* Replace the icon near the title. */ 
/* Fix line spacing of headers. */
/* CC-1424 Allow wrapping of extremely long words. NB: did test with
   overflow-wrap, but it didn't work (Firefox Mac 41: why?), so used the
   old-style word-wrap instead. */
header h1 {
    background: none;
    line-height: 1em;
    word-wrap: break-word;
}

/* Indent any more info link in the header. */
header p {
/*    font-family: "Gill Sans", Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    margin-left: 110px;
    padding-bottom: 10px;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.pull-right {
    float: right !important;
}

/* Re-branding to ARDC style. */
/* Make the page full width, and remove side panels */
/* Remove "gradient" background. */
/* Use new RVA logo. */

/* Remove background image. */
body {
    background-image: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

/* ANDS RVA Banner. */
div.nav-site-container {
    border: 1px solid transparent;
    box-sizing: border-box;
    line-height: 24px;
}
nav.site {
    width:  1170px;
    margin-right: auto;
    margin-left: auto;
    background: none;
    padding-top: 0px;
    height: 90px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
nav.site * {
    box-sizing: border-box;
}

#page-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #7e408a;
    margin: 0px;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


#page-border {
    padding-bottom: 15px;
}
#page-header-border, #page-border {
    background: #e9e9e9;
}
#page-header-border {
    padding-top: 15px;
}

#page {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: white;
    margin: 0px;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

header h1 {
    /* This is based on h4 of the Portal. */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: black;
    margin-left: 0px;
    padding: 0.5em 0px 0.5em;
}

h1.vocab-title {
    color: white;
}

.panel header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

button, #openSearch {
    font-family: 'Roboto', sans-serif;
}

footer .provenance {
    background: none;
    /*  color: revert; */
    margin-top: 0px;
    padding: 10px;
    position: relative;
}

/* Heading "Linked Data API". */
nav section.lda-heading {
    /* Like h4 of the Portal. */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin-top: 20px;
}
nav section.lda-heading span {
    display: inline-block;
    vertical-align: middle;
}
nav section.lda-heading span.image {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/molecule.png") no-repeat right center/auto 30px content-box;
/* // no-repeat scroll 0 0 transparent;//  content-box; */
    height: 40px;
    width: 40px;
}

a:link , a:visited , a:active  {
    color: #7e408a;
    text-decoration: none;
}

a:hover {
    color: #7e408a;
    text-decoration: underline;
}

/* Formats are now in the header. */
nav.formats {
    float: right;
}

/* Reduce left/right margins and padding. */
nav section.formats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
}
nav.topnav {
    padding-right: 15px;
}
#result {
    width: 780px;
    padding-right: 15px;
    padding-left: 15px;
}
.panel section {
    width: 735px;
}

/* Footer colours. */
footer {
    background: black;
    color: white;
}
/* Because the footer now has a black background,
   we must adjust links in the footer to compensate. */
footer a:link , footer a:visited , footer a:active , footer a:hover  {
    color: white;
    text-decoration: underline;
}
